
:root {
    --color-primary: #9FD9DD;
    --color-primary2: #5ba2a7;
    --color-secundary: #C0DDDB;
    --color-card: #F5FAFA;
    --color-emphasis: #536766;
    --color-footer: #333333;
}

@media screen and (max-width: 1200px) {
    #home {
        background-position: right 61.92%;

        & #content_home {
            margin: 0;

            & h1 {
                font-size: 5rem;
            }
    
            & p {
                width: 400px;
            }
        }

    }

    #about {
        flex-direction: column;

        & #why_about {
            width: 100%;

            & #box_about {
                gap: 30px;

                & p {
                    min-width: 50%;
                }
                & #img_about {
                    min-width: 40%;
                    height: 50%;
                }
            }
        }
        & #about_description {
            flex-direction: row;
            align-items: center;
            width: 100%;
            min-height: 300px;
            gap: 50px;
            position: relative;

            & #img_description {
                min-width: 50%;
                min-height: 50%;

            }
            & #about_icon {
                position: absolute;
                top: 20px;
                right: 0;   
            }
        }
    }
    #read_more {
        & #description_more {
            width: 100%;
        }

        & #cards_more {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            & .card-more {
                width: 50%;
                & .card-more-image {
                    min-width: 50%;
                    min-height: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #resources {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & .cards-resources {
            width: 50%;
        }
    }

    #contact {

        & #contact_emphasis {
            grid-template-columns: 2fr 2fr;

            & #img_contact {
                min-width: 30%;
                min-height: 50%;
            }
        }
    }
}
@media screen and (max-width: 950px) {
    #home {
        background-position: right 61.92%;

        & #content_home { 
            & p {
                font-size: 14px;
                width: 100%;
            }
        }
    }
    #contact #cards_contact {
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-height: auto;

        & .contact-card:nth-child(1), .contact-card:nth-child(2) {
            display: none;
        }

        & .contact-card {
            ul {
                display: flex;
                gap: 40px;
                list-style: none;

            }
        }
    }
}
@media screen and (max-width: 890px) {
    #home {
        background-image: none;
    
        & .container {
            display: block;
        }
        & #content_home {
            width: 100%;
            
            & h1 {
                font-size: 7rem;
            }
        }
        & #box_home {
            display: none;
        }
    }
    #our_service #content_our_service {
        padding: 10px;
        & #btn_our_services {
            letter-spacing: 0px;
            padding: 5px;
        }
    }
    
}
@media screen and (max-width: 800px) {
    #container_services .cards {
        display: flex;
        flex-direction: column;
    }

    #about #about_description {
        gap: 25px;

        & #about_icon {
            top: -5px; 
        }
    }

    #our_service {
        display: flex;
        flex-direction: column;

        & #img_our_service_1, #img_our_service_2 {
            display: none;
        }
    }

    #contact {
        
        & #contact_emphasis {
            display: flex;
            & #img_contact {
                display: none;

                & img {
                    display: none;
                }
            }

            & #box_contact {
                width: 100%;
                align-items: center;

                & #btn_contact {
                    display: block;
                    margin-inline: auto;
                }
            }
        }
        
    }
}
@media screen and (max-width: 750px) {
    #lab {
        flex-direction: column;

        & #content_lab {
            width: 100%;
        }

        & #content_lab_online {
            width: 100%;
        }
    }

    #about #about_description {

        & #about_icon {
            top: -20px; 
        }
    }

    #status {
        display: flex;
        flex-wrap: wrap;

        & .cards-status {
            width: 100%;
        }
    }

    #read_more #cards_more {
        & .card-more {
            width: 80%;
        }
    }
}
@media screen and (max-width: 580px) {
    #home {
        & #content_home {
            & h1 {
                font-size: 5rem;
            }
        }
    }

    #about #about_description {

        & #about_icon {
            top: -25px; 
        }
    }
    #contact #cards_contact {
        & .contact-card {
            

            ul {
                gap: 20px;
                flex-direction: column;
            }
        }
    }
    footer {
        & #box_social {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 420px) {
    #home {
        & #content_home {
            & h1 {
                font-size: 4rem;
            }
            & h4 {
                font-size: 1.3rem;
            }
            & p {
                font-size: 1.1rem;
            }
        }
    }
}